h1 {
    color: rgb(235, 0, 0);
    text-align: center;
    background-color: rgb(41, 41, 41);
    margin: 30px;
    margin-top: 60px;
    padding: 20px;
}

h2 {
    color: rgb(235, 0, 0);
    background-color: rgb(41, 41, 41);
    padding: 10px;
    text-align: center;
}

.index {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}

.indexItem {
    float: left;
}

.indexLink {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

#activePage {
    background-color:  rgb(255, 0, 0);
}

.indexLink:hover {
    background-color: black;
}

p {
    font-size: 120%;
    color: white;
}

body {
    background-color: rgb(100, 100, 100);
}

#Spetnaz {
    float: right;
}

#Glaz {
    height: 46%;
    width: 46%;
    float: left;
    align-self: flex-end;
}

#icon {
    height: 10%;
    width: 10%;
}

.bio {
    margin-left: 40px;
    margin-top: 0px;
    margin-right: 120px;
}

#loadout {
    list-style-type: none;
    display: flex;
    padding: 0px;
}

.subLoadout {
    list-style-type: none;
}

.loadout_item {
    color: rgb(255, 255, 255);
    padding: 10px 3px;
    background-color: rgb(41, 41, 41);
}
